<f:layout name="Neos.Form:Field" />
<f:section name="field">
	<f:form.select property="{element.identifier}" id="{element.uniqueIdentifier}" options="{element.properties.options}" class="xlarge" errorClass="{element.properties.elementErrorClassAttribute}" />
</f:section>